.navbar {
    background-color: white;
    border-bottom: 1px solid lightgrey;
}

.navbar-brand {
    color: green;
}

.sidenav {
    background-color: #333;
    width: 150px;
    height: 100%;
    padding-top: 20px;
    overflow-x: hidden;
    position: fixed;
    transition: 0.5s;
}

.sidenav a {
    color: white;
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 6px 8px 6px 16px;
}

.sidenav a:hover {
    background-color: #8080ff;
}

.menu {
    margin-left: 160px;
}

// @media only screen and (max-width: 500px)
// {
//     .sidenav 
//     {
//         width: 100px;
//     }

//     .sidenav a
//     {
//         font-size: 14px;
//     }

//     .menu 
//     {
//         margin-left: 110px;
//     }
// }